@font-face {
  font-family: "Upheaval Pro";
  src: url("/fonts/UpheavalPro.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url("/fonts/VCR_OSD_MONO.ttf") format("truetype");
  font-display: swap;
}

body {
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.panels {
  cursor: pointer;
}

.recharts-wrapper,
.recharts-surface,
.recharts-surface *,
.recharts-radar-polygon,
.recharts-radar-polygon:focus,
.recharts-radar-polygon:active {
  outline: none !important;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

.recharts-dot:focus,
.recharts-polygon:focus,
.recharts-path:focus {
  outline: none !important;
}

.recharts-wrapper,
.recharts-surface,
.recharts-surface *,
.recharts-radar-polygon,
.recharts-radar-polygon:focus,
.recharts-radar-polygon:active {
  outline: none !important;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

.recharts-dot:focus,
.recharts-polygon:focus,
.recharts-path:focus {
  outline: none !important;
}
