.layout {
  background: linear-gradient(
    to bottom,
    var(--mantine-color-dark-8),
    var(--mantine-color-dark-9)
  );
  color: var(--mantine-color-gray-1);
}

.layout :global(.mantine-AppShell-main) {
  padding: 0;
}

