.panels {
  cursor: pointer;
}

.recharts-wrapper,
.recharts-surface,
.recharts-surface *,
.recharts-radar-polygon,
.recharts-radar-polygon:focus,
.recharts-radar-polygon:active {
  outline: none !important;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

.recharts-dot:focus,
.recharts-polygon:focus,
.recharts-path:focus {
  outline: none !important;
}
